<app-header></app-header>
<h2>ALL QUESTIONS</h2>
<div class="home">

  <div class="ask-question">
    <button type="add" id="ask" routerLink="/askquestion">ASK QUESTION</button>
  </div>
    <div class="main">
          <!-- <div class="question-heading">
            <h1>ALL QUESTIONS</h1>
          </div> -->
          
         
          <nav>
            
            <ul>
              <li><a href="#" >Posts</a></li>
              <li><a href="#">Answered</a></li>
              <li><a href="#">Unanswered</a></li>
            </ul>
          </nav>
          <!-- <div class="all-questions">
          <div class="question">
            <div class="info">
              <p>votes</p>
              <p>0</p>
              <p>answers</p>
              <p>0</p>
              <p>views</p>
              <p>0</p>
             </div>
             <div class="data">
              <h2><a a routerLink="/question" href="#"></a></h2>
              <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
               <div class="meta">
              <span>asked 3 minutes ago</span>
              <span>by John Smith</span>
            </div>
             </div> -->
            
       <!-- <button type="ongeza" id="ask" routerLink="/answer">ANSWER QUESTION</button> -->
          </div>
        </div>
        <div class="all-questions">
          <div class="question"*ngFor="let question of question">
            <div class="info">
              <p>votes</p>
              <p>0</p>
              <p>answers</p>
              <p>0</p>
              <p>views</p>
              <p>0</p>
             </div>
             <div class="data">
              <h2><a a routerLink="/question" href="#">{{question.question}}</a></h2>
              <p>{{question.body}}</p>
               <div class="meta">
              <span>asked 3 minutes ago</span>
              <span>by John Smith</span>
            </div>
             </div>
            
 <!-- <button type="ongeza" id="ask" routerLink="/answer">ANSWER QUESTION</button> -->
          </div>
        <!-- </div>
        <div class="all-questions">
          <div class="question">
            <div class="info">
              <p>votes</p>
              <p>0</p>
              <p>answers</p>
              <p>0</p>
              <p>comments</p>
              <p>0</p>
             </div>
             <div class="data">
              <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
              <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
               <div class="meta">
              <span>asked 3 minutes ago</span>
              <span>by John Smith</span>
            </div>
             </div>
            
 <button type="ongeza" id="ask" routerLink="/answer">ANSWER QUESTION</button>
          </div>
        </div>
        <div class="all-questions">
          <div class="question">
            <div class="info">
              <p>votes</p>
              <p>0</p>
              <p>answers</p>
              <p>0</p>
              <p>views</p>
              <p>0</p>
             </div>
             <div class="data">
              <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
              <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
               <div class="meta">
              <span>asked 3 minutes ago</span>
              <span>by John Smith</span>
            </div>
             </div>
            
 <button type="ongeza" id="ask" routerLink="/answer">ANSWER QUESTION</button>
          </div>
        </div>
        <div class="all-questions">
          <div class="question">
            <div class="info">
              <p>votes</p>
              <p>0</p>
              <p>answers</p>
              <p>0</p>
              <p>views</p>
              <p>0</p>
             </div>
             <div class="data">
              <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
              <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
               <div class="meta">
              <span>asked 3 minutes ago</span>
              <span>by John Smith</span>
            </div>
             </div>
            
 <button type="ongeza" id="ask" routerLink="/answer">ANSWER QUESTION</button>
          </div>
        </div>
    </div> -->
  
    <br>
    <div class="footer">
      <app-footer></app-footer>
    </div>
    </div>
 
    
