.home {
  background-color: white;
  margin: 0px;
}
input[type="text"] {
  width: 50%;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-left: 20%;
  margin-top: 5%;
}
.ask-question {
  display: flex;
  /* flex-direction: row-reverse; */
  margin-left: 60%;
  /* margin-top: 10px; */
  justify-content: space-evenly;
  gap: 20px;
}
button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
/* .all-questions{
  margin:20px;
  display: flex;
} */
button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="add"] {
  /* margin-bottom: 12px; */
  margin-left: 50%;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* gap: 10px; */
}

button[type="add"]:hover {
  background-color: #3e8e41;
}
button[type="ongeza"] {
  /* margin-left: 85%; */
  background-color: rgb(14, 13, 13);
  width: 200px;
  height: 30px;
  margin-top: 70px;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button[type="ongeza"]:hover {
  background-color: #4dbdc5;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
  gap: 30px;
}

nav a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 7rem;
  font-weight: bold;
  padding-right: 30px;
  gap: 30px;
}

nav a:hover {
  color: #005ca9;
}

main {
  max-width: 800px;
  /* margin-bottom: 100px; */
  /* margin: 2rem auto; */
  background-color: whitesmoke;
}

.question {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  gap:20px;
  padding:1rem;
  margin-bottom: 1rem;
}
.question-heading {
  font-size: larger;
  margin-top: 0px;

}
.question h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #4194d8;
}

.question p {
  margin: 0;
}

.meta {
  font-size: 0.8rem;
margin-left: 750px;
  color: #999;
  display: flex;
  /* justify-content: flex-start; */
  margin-top: 20px;

}

.meta span {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 600px) {
  input[type="text"] {
    width: 90%;
    margin: 10% auto 0 auto;
  }

  .ask-question {
    margin: 30px auto;
  }

  nav a {
    padding: 0.25rem;
  }

  .question h2 {
    font-size: 1.2rem;
  }

  main {
    padding: 5px;
  }
}
