<app-header></app-header>
<div class="home">
    
    <div class="main">
          
          <div class="question-heading">
            <h1>Questions</h1>
            <div class="ask-question">
              <!-- <button type="answer" id="answer" routerLink="/answer"> GIVE ANSWER </button> -->
              <button type="add" id="ask" routerLink="/askquestion">ASK QUESTION</button>
              
            </div>
          </div>
          
          <nav>
            <ul>
              <li><a href="#">Posts</a></li>
              <li><a href="#">Unanswered</a></li>
            </ul>
          </nav>
          <section class="question">
         
            <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
            <div class="meta">
              <span>asked 3 minutes ago</span>
              <span>by John Smith</span>
            </div>
          </section>
          <section class="question">
           
            <h2><a a routerLink="/question" href="#">What is the best way to learn HTML and CSS?</a></h2>
            <p>There are many resources available for learning HTML and CSS, including online courses, tutorials, books, and...</p>
            <div class="meta">
              <span>asked 1 hour ago</span>
              <span>by Jane Doe</span>
            </div>
          </section>
          <section class="question">
            
            <h2><a routerLink="/question" href="#">How can I create a responsive website?</a></h2>
            <p>Creating a responsive website involves using CSS media queries to adjust the layout of the page based on the size of the screen...</p>
            <div class="meta">
              <span>asked 2 days ago</span>
              <span>by Bob Johnson</span>
            </div>
          </section>
      
    </div>
  
    <br>
    <div class="footer">
      <app-footer></app-footer>
    </div>
    </div>
 
    
