

<header>
	<h1>Answer Question</h1>
	
  </header>
  <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
  <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
  <main>
	<form action="#" method="post">
	  <label for="title">Title:</label>
	  <input type="text" id="title" name="title" required />

	  <label for="tags">Tags:</label>
	  <input type="text" id="tags" name="tags" required />

	  <label for="description">Description:</label>
	  <textarea id="description" name="description" required></textarea>

	  <input type="submit" value="Submit" />
	</form>
  </main>
