<app-header></app-header>

<header>
	<h1>Answer Question</h1>
  </header>
  <div class="question" *ngFor="let question of question">
	<div class="info">
	  <div class="upvote">
		<img class="upvote-icon" src="../../../../assets/icons/up.png">
		<p>0</p>
		<img class="upvote-icon" src="../../../../assets/icons/down.png">
	</div>
	 </div>
	 <div class="data">
	  <h1><a {{question.question}}a routerLink="/question" href="#">CSS and HTML?</a></h1>
	  <p>Difference between CSS and HTML?</p>
	   <div class="meta">
	  <span></span>
	  <span></span>
	</div>
	 </div>
  </div>

<br>

  <main>
	<h2>Enter your answer</h2>
	<form id="answer" [formGroup]="addAns" (ngSubmit)="Send()" >
	  <!-- <label for="title">Title</label>
	  <input type="text" id="title" name="title" required />

	  <label for="tags">Tags</label>
	  <input type="text" id="tags" name="tags" required /> -->

	  <label for="description">Description</label>
	  <textarea id="answer" name="answer" required formControlName="answer"></textarea>
       <!-- <p>*ngIf="addAns.get('body')!.touched && addAns.get('body')!.invalid"<p>description is requred</p> -->


	  <input type="submit" routerLink="/questions" value="Submit" />
	  <br>
	  <input type="submit"  routerLink="/update" value="Update" />
	</form>
  </main>
  <br>
  <br>
  <br>
  <br>
  <br>
<app-footer></app-footer>