<main>
	<h1>Question Title</h1>
	<p>Question Description</p>
	<form>
		<label for="answer-title">Answer Title:</label>

		<input type="text" id="answer-title" name="answer-title" required>

		<label for="answer-tag">Answer Tag:</label>

		<input type="text" id="answer-tag" name="answer-tag" required>

		<label for="answer-description">Answer Description:</label>

		<textarea id="answer-description" name="answer-description" required></textarea>
        
		<button type="submit">Submit Answer</button>
	</form>
</main>

