
<body>
	
	<div class="sidebar">
		<h1>Admin Panel</h1>
		<ul>
			<li><a href="#">Analytics</a></li>
			<li><a href="#">Questions </a></li>
			<li><a href="#">Users</a></li>
		</ul>
	</div>
	<div class="main-content">
		<!-- Main content goes here -->
		<div class="header">
			<h1>Admin Dashboard</h1>
		</div>
		<div class="content">
			<div class="questions">
				<h1>Questions</h1>
				<h1>
					200
				</h1>
				<div class="total">
					
					<h3>Total number of questions asked</h3>
				</div>
			</div>
			<div class="questions">
				<h1>Users</h1>
				<h1>
					200
				</h1>
				<div class="total">
					<h3>Total number of answers given</h3>
				</div>
			</div>
			
		</div>
		
	</div>
</body>
