<app-header></app-header>

<div class="maincontainer">
  <div class="content">

      <div class="formDiv">

          <form class="form" [formGroup]="recovery" (ngSubmit)="ChangePassword()">
              <div class="top">
                  <h2>ASKPOINT</h2>
                  <h5>FORGOT PASSWORD</h5>
                  <br>

              </div>
              <div class="inputs">
                

                  <div class="form-group">
                    <label >Email</label>
                      <input type="email" name="email" required formControlName="email">
                      <span class="error" *ngIf="!recovery.get('email')?.valid && recovery.get('email')?.touched">
                          <span class="error" *ngIf="recovery.get('email')!.errors!['required']">Please enter an  email</span>
                          <span class="error" *ngIf="recovery.get('email')!.errors!['email']">Please enter a valid email
                              </span>
                      </span>
                  </div>

              

              <div class="recovery-group">
                  <button type="submit" class="register"
                      [ngClass]="{invalid:!recovery.valid, valid:recovery.valid}">SEND</button>

              </div>
          </div>
           

          </form>
      </div>
  </div>
</div>

<app-footer></app-footer>