*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

button {
    color: white;
    background-color: black;
    padding: 0.5rem;
    border: transparent;
    border-radius: 0.5rem;
    text-align: center;
}

button:hover {
    background-color: rgb(77, 76, 76);
}

.main {
    width: 100%;
    height: 70vh;
    background-color:rgb(37, 36, 36)
}
.img{
    width: 100%;
    height: 100%;
}

.askpoint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;

}

.aap-name {
    margin-top: 100px;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 1px;


}

.content {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 300px;
    height: 600px;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 1px;

}



.discover {
    width: auto;
}

.icons {
    width: 70px;
}
.h1{
    font-size: 50px;
    text-align: center;
    margin-top: 90px;
   
}
p{
    font-size: 20px;
    
}
.h2{
    text-align: center;
    padding: 2px;
    font-weight: lighter;
}
.h3 {
    text-align: center;
    font-weight: lighter;
}
/* Mobile Styles */
/* @media (max-width: 767px)  {
    input {
        width: 100%;
        height: 40px;
        margin-bottom: 1rem;
    }

    .aap-name {
        margin-top: 2rem;
    }

    .main-content {
        justify-content: space-around;
        margin-top: 3rem;
        gap: 20px;
    }

    .discover {
        width: 80%;
        margin-bottom: 1rem;
    }

    .icons {
        width: 30%;
        margin-bottom: 1rem;
    }

    .content {
        width: 100%;
        margin-bottom: 1rem;
    }
} */

/* CSS RESPONSIVENESS FOR MOBILE PHONES */

/* styles for mobile screens */
@media (max-width: 600px) {
    input {
        width: 100%;
    }
    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .main-content {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .content {
        width: 80%;
        height: auto;
    }
    .h1 {
        font-size: 30px;
        margin-top: 50px;
    }
    .h2 {
        font-size: 18px;
    }
    .h3 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
}





