<app-header></app-header>
<div class="main">
   
    <div class="askpoint">
        <div class="app-name">
            <h1> ASKPOINT </h1>
        </div>
        <p>We have the answers you need</p>
    </div>

    
</div>

<div class="main-content">
    <div class="content">
        <img class="icons" src="https://cdn-icons-png.flaticon.com/512/5667/5667012.png">
        <h2>
            A public platform building the definitive collection of coding questions & answers
        </h2>
        <h3>
            A web-based community that answers questons  to software developers .

        </h3>
        <p>JOIN US</p>
        <button class="discover" routerLink="/register">JOIN US</button>
    </div>

    <div class="content">
        <img class="icons" src="https://cdn-icons-png.flaticon.com/512/324/324654.png">
        <h2>
           A web platform to ask technology related questions.
        </h2>
        <h3>
            A web-based platform to increase knowledge to software developers and users at large.

        </h3>
        <p>ASK QUESTIONS</p>
        <button class="discover" routerLink="/questions">ASK QUESTIONS</button>
    </div>
    
</div>

<app-about-us></app-about-us>

<br>

<app-footer></app-footer>
