
<body>

	<main>
    <header>
     
      <div class="profile-info">
        <img src="https://lh3.googleusercontent.com/a/AGNmyxZ1NJIHgIAXmM_O_hNBY83BHhghtFWeTgPYaCz1=k-s256" alt="Profile picture">
        <h1>John Doe</h1>
        <!-- <div class="logins-buttons">
					<button>Edit Profile</button>
					<button>Log Out</button>
				</div> -->
      </div>
    </header>
    <nav>
      <ul>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </nav>
		<div class="stats">
			<div class="questions">
				<h2>Questions</h2>
				<p>Total questions asked: 10</p>
				
				<div class="buttons">
					<button>Show all</button>
					<button>Most answered</button>
				</div>
			</div>
      <div class="questions">
				<h2>Answers</h2>
				<p>Total answers given: 10</p>
			
				<div class="buttons">
					<button>Show all</button>
					<button>Most answered</button>
				</div>
			</div>
		</div>
	</main>
</body>

