<body>
  <main>
    <header>
      <div class="profile-info">
        
        <img
          src="https://lh3.googleusercontent.com/a/AGNmyxZ1NJIHgIAXmM_O_hNBY83BHhghtFWeTgPYaCz1=k-s256"
          alt="Profile picture"
        />
        <h1>John Doe</h1>
        
        <div class="activity">
          
          <div class="total">
            <p>Total Questions</p> 
           
  
              <p>10</p>
              
          </div>
          <div class="total">
            <p>Total answers </p>
           
            <p>10</p>
          </div>

        </div>
       

      </div>
    </header>
    <nav>
      <h3>Your Activity</h3>
      <ul>
       
        <li><a href="edit" routerLink="/edit" >Edit Profile</a></li>
        <li><a href="logout" routerLink="/logout" > LogOut</a></li>
        


        
      </ul>
    </nav>
    <div class="stats">
      
      <div class="questions">
        <h2>Questions</h2>
        <div class="buttons">
          <button>Show all</button>
          <button>Most asked question</button>
          <button>Most answered</button>
          <button>Most recent</button>
        </div>
        
       <br>
       
        <div class="content">
          
          <div class="most">
            <h3>Your Recent Question</h3>
            <div class="recent">
              <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
            </div>
          </div>
          <br>
          <div class="most">
            <h3>Most Asked Question</h3>
            <div class="recent">
              <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
            </div>
          </div>
          <br>
          <div class="most">
            <h3> Most Answered Question</h3>
            <div class="recent">
              <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
            </div>
          </div>
          
        </div>

   
      </div>
      <div class="questions">
        <h2>Answers</h2>
       
        <div class="buttons">
         
          <button>Show all</button>
          <button>Most asked question</button>
          <button>Most answered</button>
          <button>Most recent</button>
        
        </div>
        <br>
        <div class="content">
          <div class="most">
            <h3>Your Recent Answer</h3>
            <div class="recent">
              <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
            </div>
          </div>
          <br>
          <div class="most">
            <h3>Most Answered</h3>
            <div class="recent">
              <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
            </div>
          </div>
         
        </div>
      
        

        
      </div>
    </div>
  </main>
</body>
