
<head>
	<title>Questions Table</title>

</head>
<div class="sidebar">
	<a href="#" id="panel" routerLink="/admin">Admin Panel</a>
	<ul>
		<li><a href="#"  routerLink="/aa">Analytics</a></li>
		<li><a href="#"  routerLink="/aq">Questions </a></li>
		<li><a href="#"  routerLink="/au">Users</a></li>
		<br>
		<br>
		<br>
		<li><a href="#"  routerLink="/logout">LogOut</a></li>

	</ul>
</div>
<div class="main-content">
	<!-- Main content goes here -->
	<div class="header">
		<h1>Admin Dashboard</h1>
	</div>
<body>
	<h1>QUESTIONS</h1>
	<table>
		<thead>
			<tr>
				<th>Question ID</th>
				<th>Question Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>What is your favorite color?</td>
				<td>
					<button class="edit">Edit</button>
					<button class="delete">Delete</button>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>What is your favorite food?</td>
				<td>
					<button class="edit">Edit</button>
					<button class="delete">Delete</button>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>What is your favorite movie?</td>
				<td>
					<button class="edit">Edit</button>
					<button class="delete">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</body>
