<div class="sidebar">
  <a href="#" class="panel" routerLink="/admin">Admin Panel</a>
  <ul>
    <li><a href="#"  routerLink="/aa">Analytics</a></li>
    <li><a href="#"  routerLink="/aq">Questions </a></li>
    <li><a href="#"  routerLink="/au">Users</a></li>
    <br>
		<br>
		<br>
		<li><a href="#"  routerLink="/logout">LogOut</a></li>
  </ul>
</div>
<div class="main-content">

  <div class="header">
    <h1>Admin Dashboard</h1>
  </div>
  <h1>USERS</h1>
<table>
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>Email Address</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>1</td>
    <td>JohnDoe</td>
    <td>john.doe@example.com</td>
    <td><button>Edit</button></td>
    <td><button>Delete</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>JaneDoe</td>
    <td>jane.doe@example.com</td>
    <td><button>Edit</button></td>
    <td><button>Delete</button></td>
  </tr>
  <!-- more rows here -->
</table>