
    <header>
      <h1>Question Title</h1>
    </header>
    <main>
      <section id="single-question">
        <h2>Question:</h2>
        <div class="votes">
          <img class="votesIcons" src="https://thenounproject.com/api/private/icons/4558026/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkCxlmfZnzDmvBOe06hT4soAsYlWTvcntgRK7HIgU4o0wdU_3uTj0GuZ3vhsssSaDXWJWUIr3NrBUN_I-Cq6lDAm-5bg%3D%3D">
          <p>0</p>
          <img class="votesIcons" src="https://thenounproject.com/api/private/icons/4558013/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkCxlmfZnzDmvBOe06hT4soAsYlWTvcntgRK7HIgU4o0wdU_3uTj0GuZ3vhsssSaDXWJWUIr3NrBUN_I-Cq6lDAm-5bg%3D%3D">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id mi dictum, placerat enim et, molestie ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce vel lectus nec ex malesuada semper.</p>
        </div>
        
      </section>
      <section>
        <h2>Answers:</h2>
        <ul>
          <li>
            <div class="votes">
              <img class="votesIcons" src="https://thenounproject.com/api/private/icons/4558026/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkCxlmfZnzDmvBOe06hT4soAsYlWTvcntgRK7HIgU4o0wdU_3uTj0GuZ3vhsssSaDXWJWUIr3NrBUN_I-Cq6lDAm-5bg%3D%3D">
              <p>0</p>
              <img class="votesIcons" src="https://thenounproject.com/api/private/icons/4558013/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkCxlmfZnzDmvBOe06hT4soAsYlWTvcntgRK7HIgU4o0wdU_3uTj0GuZ3vhsssSaDXWJWUIr3NrBUN_I-Cq6lDAm-5bg%3D%3D">
          </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis vestibulum nibh, ut varius enim tincidunt id. Pellentesque sit amet lectus neque. </p>
          </li>
          <li>
            <div class="votes">
              <img class="votesIcons" src="https://thenounproject.com/api/private/icons/4558026/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkCxlmfZnzDmvBOe06hT4soAsYlWTvcntgRK7HIgU4o0wdU_3uTj0GuZ3vhsssSaDXWJWUIr3NrBUN_I-Cq6lDAm-5bg%3D%3D">
              <p>0</p>
              <img class="votesIcons" src="https://thenounproject.com/api/private/icons/4558013/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkCxlmfZnzDmvBOe06hT4soAsYlWTvcntgRK7HIgU4o0wdU_3uTj0GuZ3vhsssSaDXWJWUIr3NrBUN_I-Cq6lDAm-5bg%3D%3D">
          </div>
            <p>Proin pharetra turpis a tristique posuere. Nam lacinia purus at libero porttitor, ut fermentum ipsum elementum.</p>
          </li>
          <li>
            <div class="votes">
              <img class="votesIcons" src="https://thenounproject.com/api/private/icons/4558026/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkCxlmfZnzDmvBOe06hT4soAsYlWTvcntgRK7HIgU4o0wdU_3uTj0GuZ3vhsssSaDXWJWUIr3NrBUN_I-Cq6lDAm-5bg%3D%3D">
              <p>0</p>
              <img class="votesIcons" src="https://thenounproject.com/api/private/icons/4558013/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkCxlmfZnzDmvBOe06hT4soAsYlWTvcntgRK7HIgU4o0wdU_3uTj0GuZ3vhsssSaDXWJWUIr3NrBUN_I-Cq6lDAm-5bg%3D%3D">
          </div>
            <p>Integer finibus consequat leo, at aliquam libero consectetur in. Suspendisse et diam diam.</p>
          </li>
        </ul>
      </section>
      <button>Add Comment</button>
      <section>
        <h2>Add Your Answer:</h2>
        <form action="#" method="post">

          <label for="answer">Answer:</label>

          <textarea id="answer" name="answer" required></textarea>
          
          <input type="submit" value="Submit" />
        </form>
      </section>
    </main>




    
  

