<app-header></app-header>
<div class="question">
  <div class="info">
    <div class="upvote">
      <img class="upvote-icon" src="../../../../assets/icons/up.png">
      <p>0</p>
      <img class="upvote-icon" src="../../../../assets/icons/down.png">
  </div>
   </div>
   <div class="data">
    <h2><a a routerLink="/question" href="#">How do I center an element vertically in CSS?</a></h2>
    <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
     <div class="meta">
    <span>asked 3 minutes ago</span>
    <span>by John Smith</span>
  </div>
   </div>
  
<button type="ongeza" id="ask" routerLink="/askquestion">ASK QUESTION</button>
</div>

  
   
    <main>
     
      <div class="answers">
        <h2>Answers</h2>
    
        <div class="question">
          <div class="info">
            <div class="upvote">
              <img class="upvote-icon" src="../../../../assets/icons/up.png">
              <p>0</p>
              <img class="upvote-icon" src="../../../../assets/icons/down.png">
          </div>
           </div>
           <div class="data">
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
           </div>
          
       
        </div>
        
        <div class="question">
          <div class="info">
            <div class="upvote">
              <img class="upvote-icon" src="../../../../assets/icons/up.png">
              <p>0</p>
              <img class="upvote-icon" src="../../../../assets/icons/down.png">
          </div>
           </div>
           <div class="data">
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
           </div>
          
       
        </div>
        <div class="question">
          <div class="info">
            <div class="upvote">
              <img class="upvote-icon" src="../../../../assets/icons/up.png">
              <p>0</p>
              <img class="upvote-icon" src="../../../../assets/icons/down.png">
          </div>
           </div>
           <div class="data">
            <p>By default, CSS positions elements relative to their parent container based on the top-left corner of the element. This means that...</p>
           </div>
          
       
        </div>
          </div>
      <br>

      <div class="comment">
        <h3>Add your comment</h3>
        <textarea id="answer" name="answer" ></textarea>
      <button type="ongeza" id="ask">Add Comment</button>
      </div>
      
      <section>
        <h2>Add Your Answer</h2>
        <form >
          <label for="answer">Answer</label>

          <textarea id="answer" name="answer" required></textarea>
          
         <button type="ongeza" id="ask">Post Your Answer</button>
       
        </form>
      </section>
    </main>
<app-footer></app-footer>


    
  

