body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: #080808;
  padding: 20px;
}

h1 {
  margin: 0;

}

.question {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  gap:20px;
  padding:1rem;
  margin-bottom: 1rem;
}
button[type="ongeza"] {
  /* margin-left: 85%; */
  background-color: rgb(14, 13, 13);
  width: 200px;
  height: 30px;
  margin-top: 0px;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button[type="ongeza"]:hover {
  background-color: #4dbdc5;
}

main {
  max-width: 1000px;
  margin: 50px;
}
.upvote {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.upvote-icon {
  width: 50px;
}
.answers{
  width: 100%;
}
button[type="ongeza"] {
  /* margin-left: 85%; */
  background-color: rgb(16, 124, 65);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button[type="ongeza"]:hover {
  background-color: #4dbdc5;
}
h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

textarea {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  width: 100%;
  height: 100px;
}

input[type="submit"] {
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}


/* Small screens (mobile phones) */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  main {
    margin: 10px auto;
  }
  .upvote {
    flex-direction: column;
    align-items: center;
  }
  .upvote-icon {
    width: 30px;
  }
  li {
    padding: 5px;
  }
  textarea {
    height: 80px;
    font-size: 14px;
  }
  input[type="submit"] {
    padding: 5px 10px;
    font-size: 14px;
  }
}
