
   <div class="footer">
    <div class="company">
        <h3 >AskPoint</h3>
        <h4>We have the answers need</h4>
        
        <div class="icons">
        <!-- <img src="../../../assets/icons/facebook.png">
        <img src="../../../assets/icons/instagram.png"> -->
        
        </div>
        
    </div>
    <div class="support">
        <h3>Usefeul Links</h3>
        <a routerLink="/contactUs">Contact Us</a>
        <a routerLink="/aboutUs">About Us</a>
        <a routerLink="/register">Register</a>

    </div>
    <div class="locate">
        <h3>Where to find us:</h3>
        <p>Kimathi Way, KDS Centre, 2nd Floor<br>Nyeri Town, Kenya<br>P.O BOX 2734 - 10140<br></p>        
    </div>
</div>
<div class="copyright">
    <p>© 2023 AskPoint. All rights Reserved.</p>
</div>
