   <div class="footer">
    <div class="askpoint">
        <h3 >AskPoint</h3>
        <h4>We have the answers need</h4>
    </div>
    <div class="links">
        <h3>Usefeul Links</h3>
        <a routerLink="/home">Home</a>
        <a routerLink="/profile">Profile</a>
        <a routerLink="/about">About Us</a>
        <a routerLink="/register">SignUp</a>
         <a routerLink="/logout">LogOut</a>

    </div>
    <div class="more-info">
        <h3>We are found at</h3>
        <br>
        <p>Biashara Street, TownView building,<br>Nairobi, Kenya<br>P.O BOX 1879 - 10100<br></p>        
    </div>
</div>
<div class="c-askpoint">
    <p>AskPoint. All rights Reserved.</p>
</div>
