<app-header></app-header>
  <head>
    <title>Edit Profile</title>
  </head>
  <body>
    <div class="container">
      <h1>Edit Profile</h1>
      <form>
        <label for="display-name">Display Name:</label>
        <input type="text" id="display-name" name="display-name" value="John Doe">
        
        <label for="about-me">About Me:</label>
        <textarea id="about-me" name="about-me">I am a web developer</textarea>
        <label for="social-media">Social Media Links:</label>
        <input type="text" id="social-media" name="social-media" value="https://www.linkedin.com/teetoh">
        <input type="text" id="social-media" name="social-media" value="https://www.github.com/teetoh">
        <input type="text" id="social-media" name="social-media" value="https://www.twitter.com/teetoh">
        
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="Web Developer">
        
        <button type="submit">Save Changes</button>
      </form>
    </div>
  </body>
<app-footer></app-footer>

