* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #161616;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #7c7e7d;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
  label {
    font-size: 14px;
  }
  
  input, textarea {
    font-size: 14px;
  }
  
  button[type="submit"] {
    font-size: 14px;
  }
}
